@model ServiceVM;

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form class="forms-sample" method="post" action="create">
                <div class="form-group">
                    <label asp-for="services.Name"></label>
                    <input asp-for="services.Name" class="form-control" placeholder="Category">
                    <span class="text text-danger" asp-validation-for="services.Name"></span>
                    <label asp-for="services.Description"></label>
                    <input asp-for="services.Description" class="form-control" placeholder="Description">
                    <span class="text text-danger" asp-validation-for="services.Description"></span>
                    <label asp-for="services.Price"></label>
                    <input asp-for="services.Price" class="form-control" placeholder="Price">
                    <span class="text text-danger" asp-validation-for="services.Price"></span>
                    <label asp-for="services.ServiceImages"></label>
                    <input asp-for="services.ServiceImages" class="form-control" placeholder="ServiceImages">
                    <span class="text text-danger" asp-validation-for="services.ServiceImages"></span>
                    @*@foreach (var item in Model.categories)
                    {
                    <label asp-for="@item.Name"></label>
                    <input asp-for="@item.Name" class="form-control" placeholder="Category Name">
                    <span class="text text-danger" asp-validation-for="@item.Name"></span>
                    }*@

                    <select asp-for="services.CategoryId">
                        @foreach (var item in Model.categories)
                        {
                             <option value="@item.Id">@item.Name</option>
                        }
                       
                    </select>
                   

                </div>
                <button type="submit" class="btn btn-primary me-2 text-light">Create</button>
                <button class="btn btn-light" asp-action="Index">Go back</button>

            </form>
        </div>
    </div>
</div>